modules = ["nodejs-20", "web"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "pnpm dev"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 8080
externalPort = 80

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/.config/npm/bin:$REPL_HOME/node_modules/.bin"

# Set the run command
run = "pnpm dev"
